.header {
  height: 100vh;
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba($color-primary-light, 0.8),
  //   rgba($color-primary-dark, 0.8)
  // );
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  &__about {
    height: 85vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-gold-light, 0.2),
        rgba($color-gold-dark, 0.2)
      ),
      url(../assets/About-Images/38.png);
    background-size: cover;
    background-position: center;
  }

  &__contact {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-gold-light, 0.2),
        rgba($color-gold-dark, 0.2)
      ),
      url(../assets/About-Images/43.png);
  }

  &__project {
    height: 65vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-gold-light, 0.2),
        rgba($color-gold-dark, 0.2)
      ),
      url(../assets/About-Images/35.png);
    background-size: cover;
    background-position: center;
  }

  &__bedroom {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-gold-light, 0.2),
        rgba($color-gold-dark, 0.2)
      ),
      url(../assets/About-Images/43.png);
  }

  &__kitchen {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-gold-light, 0.2),
        rgba($color-gold-dark, 0.2)
      ),
      url(../assets/About-Images/48.png);
  }

  &__livingroom {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-gold-light, 0.2),
        rgba($color-gold-dark, 0.2)
      ),
      url(../assets/About-Images/32.png);
  }

  &__kidroom {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-gold-light, 0.2),
        rgba($color-gold-dark, 0.2)
      ),
      url(../assets/About-Images/21.png);
  }

  &__tv {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-gold-light, 0.2),
        rgba($color-gold-dark, 0.2)
      ),
      url(../assets/About-Images/11.png);
  }

  &__enterance {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-gold-light, 0.2),
        rgba($color-gold-dark, 0.2)
      ),
      url(../assets/About-Images/12.png);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 8rem;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__text-box__project {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
