.section-about {
  background-color: $color-grey-dark;
  padding: 25rem 0;
  margin-top: -20vh;

  &-page {
    padding: 5rem 0 15rem;
    background-color: $color-grey-dark;
    margin-top: -20vh;

    @include respond(tab-port) {
      padding: 5rem 0;
    }
  }
  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.8),
      rgba($color-black, 0.8)
    ),
    url(../assets/back-1.png);
  background-size: cover;

  // transform: skewY(-7deg);
  margin-top: -10rem;

  // & > * {
  //   transform: skewY(7deg);
  // }

  @include respond(tab-port) {
    // padding: 15rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 15rem 0 5rem 0;
  margin-top: -10rem;

  &__project {
    padding: 5rem 0 5rem 0;
  }
  @include respond(tab-port) {
    padding: 10rem 0 5rem 0;
  }
}

.section-stories {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.8),
      rgba($color-black, 0.8)
    ),
    url(../assets/back-2.png);
  background-size: cover;
  position: relative;
  padding: 15rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
